hr{
    margin-right:15px;
}

ul{
    padding-inline-start: 0;
    padding-left: 0 !important;
}

.superior-nav li.nav-item{
    cursor:pointer;
}

.list{
    transition: width 0.5s;
    float: left;
    height: calc(100vh - 72px);
}

.list ul{
    max-height: calc(100vh - 204px);
}

.list .item,
.list .email-fav-icon{
    cursor:pointer
}

.form-container{
    display:grid;
}