hr{
    margin-right:15px;
}

ul{
    padding-inline-start: 0;
    padding-left: 0 !important;
}

.list{
    transition: width 0.5s;
    float: left;
}

.list ul{
    max-height: calc(100vh - 204px);
}

.list .item,
.list .email-fav-icon{
    cursor:pointer
}
